# ==========================
# Python
# ==========================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Environment Files
# ==========================
.env
frontend/.env

# ==========================
# Node
# ==========================
frontend/node_modules/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Build Files
# ==========================
frontend/dist/
backend/.pytest_cache/